In [83]:
import pandas as pd

In [84]:
data=pd.read_csv(r"D:\STUDY\PYTHON\big data practice\backupdata\9. Survey.csv")

In [85]:
data

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518

In [52]:
#1)1 - Load the dataset into a pandas dataframe. Name the variable as “survey”

In [86]:
survey=data

In [87]:
survey

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518

In [54]:
#2 - How many samples were collected on each day?

In [88]:
data.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969

In [56]:
data.collection_date.value_counts()

5-24-2017    1479
5-25-2017     998
5-28-2017     761
5-27-2017     665
5-29-2017     620
6-1-2017      607
5-26-2017     598
5-30-2017     582
5-31-2017     557
Name: collection_date, dtype: int64

In [89]:
#3 - What proportion of the total respondents were aged less than 45?

In [12]:
data.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969

In [57]:
data.age<45

TypeError: '<' not supported between instances of 'str' and 'int'

In [90]:
data.age.unique()

array(['26', '34', '25', '36', '22', '38', '23', '42', '51', '29', '24',
       '30', '39', '37', '19', '44', '53', '32', '21', '18', '20', '27',
       '48', '28', '45', '74', '35', '31', '70', '40', '49', '46', '43',
       '41', '33', '58', '24ko', '56', '50', '55', '54', '62', '60', '59',
       '47', '61', '52', '66', '57', '67', '65', '71', '63', '64', '68',
       '69', '99', '72', '75', '76'], dtype=object)

In [91]:
data.age.astype(int)

ValueError: invalid literal for int() with base 10: '24ko'

In [102]:
data.age.replace({'24ko':24},inplace=True)

In [103]:
data.age=data.age.astype(int)

In [60]:
data.dtypes

response_id           int64
collection_date      object
urban_rural          object
education            object
income               object
Vote_Now             object
Past_Vote            object
CM_satisfaction      object
MLA_satisfaction     object
age                   int32
gender               object
assembly_no           int64
category             object
weight              float64
dtype: object

In [ ]:
#4 - Create a new column in the dataframe “age_group”. This column should contain the age 
#group the respondent belongs to. The age groups are 18-25, 25-40, 40-55 and 55+. 
#The dataframe should look like this after the column creation

In [93]:
data.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969

In [114]:
data.insert(10,'agegroup', data.age.values )

ValueError: cannot insert agegroup, already exists

In [115]:
data

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,agegroup,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,22,Male,176,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,25,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,30,Male,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,23,Male,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,33,Male,241,Gen,1.797518

In [116]:
#18-25, 25-40, 40-55 and 55+.

In [128]:
data1=data[(data.age>18) & (data.age<25)]

In [130]:
data1

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,agegroup,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25 grp,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25 grp,Male,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,18-25 grp,Male,199,Gen,0.226477
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,18-25 grp,Male,194,BC,0.769738
18,19,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,18-25 grp,Male,188,BC,0.040519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6858,6859,6-1-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,24,18-25 grp,Male,241,Gen,1.812926
6859,6860,6-1-2017,Urban,Post - Graduation,"₹ 5,000 - ₹ 10,000",Left Front,Did not vote,Fully Dissatisfied,Somewhat Satisfied,21,18-25 grp,Male,146,EBC,1.558234
6861,6862,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",BJP,BJP,Fully Dissatisfied,Somewhat Satisfied,22,18-25 grp,Male,166,Gen,0.080137
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,18-25 grp,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,18-25 grp,Male,243,Gen,0.080137

In [148]:
data2=data[(data.age>26) & (data.age<40)]

In [151]:
data2

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,agegroup,gender,assembly_no,category,weight
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,34,Male,189,BC,0.603419
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,36,Male,194,Gen,1.101298
5,6,5-24-2017,Urban,Graduate,"₹ 20,000 - ₹ 30,000",Others,BJP,Somewhat Satisfied,Fully Dissatisfied,38,38,Male,178,Gen,0.382603
6,7,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,BJP,Fully Dissatisfied,Fully Dissatisfied,34,34,Male,172,BC,0.521283
7,8,5-24-2017,Rural,Professional Education,"₹ 1,50,000 & above",BJP,JD(U),Somewhat Dissatisfied,Somewhat Dissatisfied,34,34,Male,186,ST,0.340652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6852,6853,6-1-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",Undecided,BJP,Fully Satisfied,Fully Satisfied,28,28,Male,149,SC,0.983441
6854,6855,6-1-2017,Rural,Post - Graduation,"₹ 5,000 - ₹ 10,000",RJD,BJP,Fully Dissatisfied,Fully Dissatisfied,37,37,Male,143,Gen,0.085030
6855,6856,6-1-2017,Rural,12th Pass,"₹ 5,000 - ₹ 10,000",NOTA,JD(U),Fully Dissatisfied,Fully Dissatisfied,30,30,Male,241,EBC,0.174156
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,30,Male,169,BC,0.252780
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,33,Male,241,Gen,1.797518

In [153]:
data2.agegroup='26-40 grp'

C:\Users\Swapnil\AppData\Local\Temp\ipykernel_8572\1749648550.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.agegroup='26-40 grp'

In [154]:
data2

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,agegroup,gender,assembly_no,category,weight
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,26-40 grp,Male,189,BC,0.603419
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,26-40 grp,Male,194,Gen,1.101298
5,6,5-24-2017,Urban,Graduate,"₹ 20,000 - ₹ 30,000",Others,BJP,Somewhat Satisfied,Fully Dissatisfied,38,26-40 grp,Male,178,Gen,0.382603
6,7,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,BJP,Fully Dissatisfied,Fully Dissatisfied,34,26-40 grp,Male,172,BC,0.521283
7,8,5-24-2017,Rural,Professional Education,"₹ 1,50,000 & above",BJP,JD(U),Somewhat Dissatisfied,Somewhat Dissatisfied,34,26-40 grp,Male,186,ST,0.340652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6852,6853,6-1-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",Undecided,BJP,Fully Satisfied,Fully Satisfied,28,26-40 grp,Male,149,SC,0.983441
6854,6855,6-1-2017,Rural,Post - Graduation,"₹ 5,000 - ₹ 10,000",RJD,BJP,Fully Dissatisfied,Fully Dissatisfied,37,26-40 grp,Male,143,Gen,0.085030
6855,6856,6-1-2017,Rural,12th Pass,"₹ 5,000 - ₹ 10,000",NOTA,JD(U),Fully Dissatisfied,Fully Dissatisfied,30,26-40 grp,Male,241,EBC,0.174156
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,26-40 grp,Male,169,BC,0.252780
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,26-40 grp,Male,241,Gen,1.797518

In [157]:
data3=data[(data.age>41) & (data.age<55)]

In [168]:
data3.agegroup='41-55 grp'

C:\Users\Swapnil\AppData\Local\Temp\ipykernel_8572\701378701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3.agegroup='41-55 grp'

In [159]:
data3

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,agegroup,gender,assembly_no,category,weight
11,12,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",LJP,JD(U),Somewhat Satisfied,Fully Dissatisfied,42,41-55 grp,Male,183,BC,2.824391
12,13,5-24-2017,Urban,Post - Graduation,"₹ 5,000 - ₹ 10,000",Undecided,JD(U),Somewhat Dissatisfied,Somewhat Dissatisfied,51,41-55 grp,Male,183,SC,20.558759
28,29,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,44,41-55 grp,Male,205,BC,1.337935
30,31,5-24-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",NOTA,NOTA,Fully Dissatisfied,Fully Dissatisfied,44,41-55 grp,Male,183,Gen,1.344773
33,34,5-24-2017,Urban,Graduate,"₹ 50,000 - ₹ 80,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,53,41-55 grp,Male,188,Gen,1.936195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6810,6811,6-1-2017,Rural,12th Pass,"₹ 1,50,000 & above",RJD,RJD,Somewhat Satisfied,Fully Dissatisfied,52,41-55 grp,Male,150,Gen,2.112264
6812,6813,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",BJP,RJD,Somewhat Satisfied,Fully Satisfied,45,41-55 grp,Male,142,Gen,0.710519
6829,6830,6-1-2017,Urban,Graduate,"₹ 20,000 - ₹ 30,000",JD(U),JD(U),Fully Satisfied,Somewhat Satisfied,48,41-55 grp,Male,146,EBC,6.328899
6840,6841,6-1-2017,Rural,Graduate,"₹ 1,50,000 & above",NOTA,BJP,Fully Dissatisfied,Somewhat Satisfied,45,41-55 grp,Male,241,BC,1.425852
6856,6857,6-1-2017,Rural,Post - Graduation,"₹ 50,000 - ₹ 80,000",RJD,JD(U),Somewhat Satisfied,Somewhat Dissatisfied,45,41-55 grp,Male,150,BC,2.112264

In [164]:
data4=data[(data.age>56) & (data.age<100)]

In [170]:
data4.agegroup='56 plus'

C:\Users\Swapnil\AppData\Local\Temp\ipykernel_8572\1798215416.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4.agegroup='56 plus'

In [171]:
data4

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,agegroup,gender,assembly_no,category,weight
69,70,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",RJD,INC,Fully Dissatisfied,Fully Satisfied,74,56 plus,Male,192,ST,1.805903
74,75,5-24-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Somewhat Dissatisfied,Somewhat Satisfied,70,56 plus,Male,183,BC,0.343147
121,122,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",NOTA,Did not vote,Somewhat Satisfied,Fully Dissatisfied,58,56 plus,Male,187,Gen,2.092567
277,278,5-24-2017,Urban,Post - Graduation,"₹ 30,000 - ₹ 50,000",BJP,BJP,Somewhat Satisfied,Somewhat Satisfied,58,56 plus,Male,186,Gen,1.917992
282,283,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Satisfied,Fully Dissatisfied,62,56 plus,Male,183,Gen,1.261740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6579,6580,5-29-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,JD(U),Fully Dissatisfied,Fully Dissatisfied,67,56 plus,Male,141,SC,5.308107
6702,6703,5-31-2017,Urban,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Dissatisfied,Fully Dissatisfied,68,56 plus,Male,146,Gen,0.710519
6720,6721,5-31-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Satisfied,Fully Satisfied,76,56 plus,Male,168,Gen,1.535906
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,56 plus,Male,144,SC,4.741094
6851,6852,6-1-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,66,56 plus,Male,165,Gen,0.300990

In [175]:
f_data=pd.concat([data1,data2,data3,data4])

In [176]:
f_data

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,agegroup,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25 grp,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25 grp,Male,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,18-25 grp,Male,199,Gen,0.226477
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,18-25 grp,Male,194,BC,0.769738
18,19,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,18-25 grp,Male,188,BC,0.040519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6579,6580,5-29-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,JD(U),Fully Dissatisfied,Fully Dissatisfied,67,56 plus,Male,141,SC,5.308107
6702,6703,5-31-2017,Urban,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Dissatisfied,Fully Dissatisfied,68,56 plus,Male,146,Gen,0.710519
6720,6721,5-31-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Satisfied,Fully Satisfied,76,56 plus,Male,168,Gen,1.535906
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,56 plus,Male,144,SC,4.741094
6851,6852,6-1-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,66,56 plus,Male,165,Gen,0.300990

In [ ]:
#How many samples were collected for each age-group? Which age-group had the most samples?

In [178]:
f_data.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,agegroup,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25 grp,Male,176,BC,0.333505

In [182]:
f_data.groupby('agegroup').collection_date.value_counts()

agegroup   collection_date
18-25 grp  5-24-2017          371
           5-25-2017          295
           5-28-2017          221
           5-27-2017          215
           5-29-2017          190
           5-26-2017          186
           6-1-2017           181
           5-30-2017          169
           5-31-2017          141
26-40 grp  5-24-2017          671
           5-25-2017          399
           5-28-2017          329
           5-31-2017          262
           5-27-2017          253
           6-1-2017           245
           5-30-2017          241
           5-29-2017          237
           5-26-2017          220
41-55 grp  5-24-2017          145
           5-25-2017           79
           5-28-2017           62
           5-29-2017           54
           5-27-2017           53
           5-30-2017           51
           6-1-2017            50
           5-26-2017           41
           5-31-2017           35
56 plus    5-24-2017           24
           5-25-2017           16
           5-29-2017           12
           5-28-2017           11
           6-1-2017            11
           5-30-2017            9
           5-26-2017            7
           5-27-2017            6
           5-31-2017            3
Name: collection_date, dtype: int64

In [ ]:
#What proportion of the respondents had opted for the RJD party in both the Vote_Now and the Past_Vote questions

In [185]:
f_data.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,agegroup,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25 grp,Male,176,BC,0.333505

In [187]:
f_data[f_data.Vote_Now=='RJD']

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,agegroup,gender,assembly_no,category,weight
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,18-25 grp,Male,194,BC,0.769738
38,39,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Can’t say,Can’t say,22,18-25 grp,Male,181,SC,1.596987
47,48,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,20,18-25 grp,Male,172,BC,1.188838
85,86,5-24-2017,Rural,12th Pass,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,22,18-25 grp,Male,187,BC,0.586158
107,108,5-24-2017,Urban,12th Pass,"₹ 5,000 - ₹ 10,000",RJD,Did not vote,Somewhat Dissatisfied,Fully Dissatisfied,19,18-25 grp,Male,197,Gen,0.113454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5687,5688,5-29-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,62,56 plus,Male,156,EBC,10.814150
5830,5831,5-30-2017,Urban,Graduate,"₹ 50,000 - ₹ 80,000",RJD,RJD,Somewhat Dissatisfied,Fully Dissatisfied,59,56 plus,Male,48,Gen,2.359308
6095,6096,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RJD,JD(U),Somewhat Satisfied,Fully Dissatisfied,67,56 plus,Male,141,SC,5.308107
6123,6124,5-24-2017,Urban,Professional Education,"₹ 20,000 - ₹ 30,000",RJD,INC,Somewhat Satisfied,Fully Dissatisfied,63,56 plus,Male,146,BC,0.344782
6579,6580,5-29-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,JD(U),Fully Dissatisfied,Fully Dissatisfied,67,56 plus,Male,141,SC,5.308107

In [188]:
f_data[f_data.Past_Vote	=='RJD']

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,agegroup,gender,assembly_no,category,weight
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,18-25 grp,Male,194,BC,0.769738
38,39,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Can’t say,Can’t say,22,18-25 grp,Male,181,SC,1.596987
47,48,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,20,18-25 grp,Male,172,BC,1.188838
85,86,5-24-2017,Rural,12th Pass,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,22,18-25 grp,Male,187,BC,0.586158
120,121,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",RJD,RJD,Fully Satisfied,Fully Satisfied,23,18-25 grp,Male,187,BC,0.891022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753,4754,5-26-2017,Rural,Post - Graduation,"₹ 30,000 - ₹ 50,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,61,56 plus,Male,16,BC,4.650280
5493,5494,5-26-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,61,56 plus,Male,156,Gen,1.044473
5687,5688,5-29-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,62,56 plus,Male,156,EBC,10.814150
5700,5701,5-29-2017,Urban,Graduate,"₹ 20,000 - ₹ 30,000",INC,RJD,Somewhat Satisfied,Fully Dissatisfied,60,56 plus,Male,63,Gen,2.001044
5830,5831,5-30-2017,Urban,Graduate,"₹ 50,000 - ₹ 80,000",RJD,RJD,Somewhat Dissatisfied,Fully Dissatisfied,59,56 plus,Male,48,Gen,2.359308

In [ ]:
#For each day of sample collection, determine the proportion of respondents who were fully 
#satisfied with the performance of the CM. So if there were a total of 1000 samples on day 1 and 300 out of those said they were fully satisfied,
#then our answer for that day would be 0.3

In [190]:
f_data.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,agegroup,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25 grp,Male,176,BC,0.333505

In [194]:
f_data[f_data.CM_satisfaction=='Fully Satisfied']

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,agegroup,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25 grp,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25 grp,Male,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,18-25 grp,Male,199,Gen,0.226477
90,91,5-24-2017,Rural,Graduate,"₹ 80,000 - ₹ 1,50,000",JD(U),Did not vote,Fully Satisfied,Can’t say,22,18-25 grp,Male,171,BC,0.333505
102,103,5-24-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",JD(U),JD(U),Fully Satisfied,Somewhat Dissatisfied,20,18-25 grp,Male,173,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6341,6342,5-26-2017,Rural,Post - Graduation,"₹ 30,000 - ₹ 50,000",JD(U),INC,Fully Satisfied,Somewhat Dissatisfied,70,56 plus,Male,142,BC,1.495606
6498,6499,5-28-2017,Urban,Post - Graduation,"₹ 10,000 - ₹ 20,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,61,56 plus,Male,168,Gen,0.300990
6513,6514,5-28-2017,Urban,Post - Graduation,"₹ 10,000 - ₹ 20,000",BJP,BJP,Fully Satisfied,Somewhat Satisfied,62,56 plus,Male,168,Gen,0.300990
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,56 plus,Male,144,SC,4.741094
6851,6852,6-1-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,66,56 plus,Male,165,Gen,0.300990

In [196]:
f_data[f_data.MLA_satisfaction=='Fully Dissatisfied']

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,agegroup,gender,assembly_no,category,weight
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25 grp,Male,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,18-25 grp,Male,199,Gen,0.226477
18,19,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,18-25 grp,Male,188,BC,0.040519
47,48,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,20,18-25 grp,Male,172,BC,1.188838
49,50,5-24-2017,Rural,Graduate,"₹ 80,000 - ₹ 1,50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,24,18-25 grp,Male,198,Gen,0.226477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6123,6124,5-24-2017,Urban,Professional Education,"₹ 20,000 - ₹ 30,000",RJD,INC,Somewhat Satisfied,Fully Dissatisfied,63,56 plus,Male,146,BC,0.344782
6262,6263,5-25-2017,Urban,Graduate,"₹ 1,50,000 & above",BJP,BJP,Somewhat Satisfied,Fully Dissatisfied,64,56 plus,Male,146,Gen,0.933257
6268,6269,5-25-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",BJP,HAM,Somewhat Satisfied,Fully Dissatisfied,59,56 plus,Male,164,SC,4.529648
6579,6580,5-29-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,JD(U),Fully Dissatisfied,Fully Dissatisfied,67,56 plus,Male,141,SC,5.308107
6702,6703,5-31-2017,Urban,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Dissatisfied,Fully Dissatisfied,68,56 plus,Male,146,Gen,0.710519